body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.orang{
    color: rgb(255, 98, 0);
}
.main{
    display: flex;
    background-color: rgba(255, 230, 71, 0.878);
    border: 15px solid rgb(89, 17, 17);
    border-radius: 10px;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 25px;
    margin-left: 55px;
    margin-right: 20px;
}


.half-width a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font-size: 25px;
    font-weight: 700;
    
    padding: 10px;
    border-radius: 20px;
}

.half-width p{
    font-size: 25px;
}
.half-width img{
    width: 100%;
}
.ten{
    background-color: rgb(121, 3, 84);
    color: rgba(255, 255, 255, 0.874);
    font-weight: 500;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.experience{
    display: flex;
    margin-bottom: 150px;
  
}
.developer{
    width: 50%;
    padding: 25px;
    margin-left: 40px;
    margin-right: 10px;
    box-shadow: 10px 10px 40px;
    border-left: 7px solid orange;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
}
.baby{
    width: 50%;
    padding: 25px;
    margin-left: 55px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px;
    border-left: 7px solid blue;
    border-radius: 5px;
    text-align: justify;
    border-radius: 5px;
    padding-top: 50px;

}
p{
   
    font-size: 20px;
    text-align: justify;
}
.foot{
    text-align: center;
   color: brown;
}
